/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 10, 2016, 4:10:25 PM
    Author     : LauraKrebs
*/

html{
    background: #cc00ff;
    color: #66ff99;
}

.button {
    background: #ffff66;
    height: 25px;
    width: auto;
    font-size: 1.2em;
}

.menu {
    background: #ffff66;
        height: 25px;
    width: auto;
    font-size: 1.2em;
}

.section {
    font-size: 1.25em;
}