<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
  <h:head>
    <title>Welcome</title>
  </h:head>
  <h:body>
      <h1>#{msgs.loginText}</h1>
    <h:form>
        <h3>#{msgs.registration}</h3>
        <p>
            <h:commandButton value="Register" action="registration"/>
        </p>

      <table>
        <tr>
            <td>#{msgs.usernameText}</td>
          <td><h:inputText value="#{user.username}"/></td>
        </tr>
        <tr>
            <td>#{msgs.passwordText}</td>
          <td><h:inputSecret value="#{user.password}"/></td>
        </tr>
      </table>
      <p><h:commandButton value="Login" action="login"/></p>
    </h:form>
  </h:body>
</html>