<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{msgs.title}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="style/indexStyle.css"/>
        <link href="https://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css"/>
    </h:head>
    <h:body>
        <h:outputStylesheet library="css" name="style.css"/>
        <h:panelGroup rendered="#{quizBean.isFirstQuestion == true}">
            <h:form id="content">
                <h2><h:outputFormat value="#{msgs.welcome}">
                        <f:param value="#{quizBean.currentCategory}"/>
                    </h:outputFormat>
                </h2>
                <p>
                    <!--<h:outputFormat value="#{msgs.score}">
                    <f:param value="#{quizBean.score}"/>
                    </h:outputFormat>-->
                    <h:outputFormat value="#{msgs.currentScoresMsg}">
                        <f:param value="#{user.username}" />
                    </h:outputFormat>
                </p>
                <p><h:outputFormat value="#{msgs.firstQuestion}">
                        <f:param value="#{quizBean.currentQuestion}"/>
                    </h:outputFormat>
                </p>
                <p>
                    <h:selectOneRadio value="#{quizBean.response}" required="true" requiredMessage="You must select an answer!">
                        <f:selectItems value="#{quizBean.answers}" var="c"/>
                    </h:selectOneRadio>
                              <!--itemLabel="#{c.intern}" itemValue="#{c.intern}" />-->
                    <!--<h:selectOneRadio value="#{msgs.answerSelection}">
                        <f:selectItems value="#{quizBean.answers}"/>
                    </h:selectOneRadio>
                    <h:outputFormat value="#{msgs.answerSelection}">
                        <f:param value="#{quizBean.answers}"/>
                    </h:outputFormat>-->
                </p>
                
                <p>
                    <h:commandButton class="button" value="#{msgs.checkAnswer}" action="#{quizBean.checkAnswerAction}"/>
                    
                </p>
            </h:form></h:panelGroup>
        
        <!--.........................................................................-->
                <h:panelGroup rendered="#{quizBean.isLastQuestion == true}">
            <h:form>
                <h3><h:outputFormat value="#{msgs.heading}">
                    <f:param value="#{quizBean.currentCategory}"/>
                    </h:outputFormat>
                </h3>
                <p><h:outputFormat value="#{quizBean.gotLastQuestionRight ? msgs.correct : msgs.notCorrect}">
                    <f:param value="#{quizBean.lastCorrectAnswer}"/>
                   </h:outputFormat>
                </p>
                <p>
                    <h:outputFormat value="#{msgs.score}">
                        <f:param value="#{quizBean.score}"/>
                    </h:outputFormat>
                </p>
                <p><h:outputFormat value="#{msgs.congrats}">
                    <f:param value="#{quizBean.currentCategory}"/>
                   </h:outputFormat>
                </p>
                <p>
                    <h:commandButton class="button" value="#{msgs.anotherQuiz}"
                         action="#{quizBean.endAction}"/>
                </p>
            </h:form>
        </h:panelGroup>
     <!--////////////////////////////////////////////////////////////////////////////-->   
        
        
     <h:panelGroup rendered="#{quizBean.isFirstQuestion == false and quizBean.isLastQuestion == false}">
         <h:form>
            <h3><h:outputFormat value="#{msgs.heading}">
                    <f:param value="#{quizBean.currentCategory}"/>
                </h:outputFormat>
            </h3>
            <p><h:outputFormat value="#{quizBean.gotLastQuestionRight ? msgs.correct : msgs.notCorrect}">
                    <f:param value="#{quizBean.lastCorrectAnswer}"/>
                </h:outputFormat>
            </p>
            <p>
                <h:outputFormat value="#{msgs.score}">
                    <f:param value="#{quizBean.score}"/>
                </h:outputFormat>
            </p>
            <p><h:outputFormat value="#{msgs.nextQuestion}">
                    <f:param value="#{quizBean.currentQuestion}"/>
                </h:outputFormat>
            </p>
            <p>                    
                <h:selectOneRadio value="#{quizBean.response}" required="true" requiredMessage="You must select an answer!">
                    <f:selectItems value="#{quizBean.answers}" var="c"/>
                </h:selectOneRadio>
            </p>
            <p>
                <h:commandButton class="button" value="#{msgs.checkAnswer}" action="#{quizBean.checkAnswerAction}"/>                    
            </p>
        </h:form>
     </h:panelGroup>
    </h:body>
</html>

