<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
  <h:head>
    <title>Registration</title>
  </h:head>
  <h:body>
      <h1>#{msgs.registerFor}</h1>
      
    <h:form>
        <h2>#{msgs.usernameText}</h2>
        <h:inputText value="#{user.username}" required="true" requiredMessage="You must select a name to be identified!"/>
        <h2>#{msgs.userPW1}</h2>
        <h:inputSecret value="#{user.password}" required="true" requiredMessage="Please follow instructions and enter a password!"/>
        <h2>#{msgs.userPW2}</h2>
        <h:inputSecret value="#{user.passwordCheck}" required="true" requiredMessage="Please follow instructions and enter a password!"/>       
        <p>

            <h:commandButton value="Register" action="#{user.verifyPassword()}">
            </h:commandButton>
        </p>
    </h:form>
  </h:body>
</html>