<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
  <h:head>
    <title>#{msgs.title}</title>
    <h:outputStylesheet library="css" name="scores-style.css" />
    <h1>A Trivia Quiz</h1>
    <style>
        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
  </h:head>
  <h:body>
      <h:outputStylesheet library="css" name="style.css"/>
    <h:form>
        
        <p class="section">
            <h:outputFormat value="#{msgs.currentScoresMsg}">
                <f:param value="#{user.username}" />
            </h:outputFormat>
            
            <!--<c:forEach items="#{database.scoresByCategory}" var="entry">
                <h:outputText value="Key: #{entry.key}, Value: #{entry.value}"/> <br/>
            </c:forEach>
            <h:dataTable value="#{database.categoryNames}" var="key">
                <h:column>
                    Key: #{key}
                </h:column>
                <h:column>
                    Value: #{database.scoresByCategory[key]}
                </h:column></h:dataTable>
            
            <h:dataTable value="#{database.categoryNames}" var="c"
                         styleClass="order-table"
                         headerClass="order-table-header"
                         rowClasses="order-table-odd-row, order-table-even-row" >
                
                <h:column>
                    <f:facet name="header"><ui:repeat value="#{database.categoryNames}"
                                                      var="value"><b>#{value}</b></ui:repeat></f:facet>
                                                      <ui:repeat value="#{database.currentScores}"
                                                                 var="score" >#{score}</ui:repeat>
                </h:column>
                
            </h:dataTable>-->
            <table style="width:60%">
                <tr>
                    <th><ui:repeat value="#{database.categoryNames}" var="value">
                            <th colspan="4" ><b>#{value} </b></th></ui:repeat></th>
                </tr>
                <tr>
                <!-- <f:setPropertyActionListener target="#{quizBean.currentCategory}" value="Computer Science" />
-->
<td><ui:repeat value="#{database.currentScores}" var="value">
                            <th colspan="4"> 
                               <h:outputFormat value="#{msgs.currentScore}">
                                   <f:param value="#{value}"/>
                                    <f:param value="#{quizBean.score}"/>
                                </h:outputFormat>
                            </th>
                            <!--<f:param value="#{user.username}"/>-->
                        </ui:repeat>
                        </td>
                </tr>
            </table> 
            Select a Category for a Quiz! 
        </p>
        
        <h:selectOneMenu class="menu" value="#{quizBean.currentCategory}" required="true" requiredMessage="You must select a category to proceed!!">
            <f:selectItem itemLabel="Computer Science" itemValue="Computer Science"/>
            <f:selectItem itemLabel="Mathematics" itemValue="Mathematics"/>
            <f:selectItem itemLabel="Physics" itemValue="Physics"/>
            <f:selectItem itemLabel="Astronomy" itemValue="Astronomy"/>
        </h:selectOneMenu>
        <br/><br/>
        <h:commandButton class="button" value="Begin Quiz!" action="#{quizBean.beginAction()}"/>
    </h:form>
  </h:body>
</html>
